.bg-exit{
  width: 10rem;
  height: 7.8rem;

  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 20px 60px -15px rgba(70, 70, 70, 0.2);
  border-radius: 16px;
}

label{
  font-size: 15px;
}
.language-selected{
  filter: grayscale(100%);
}
.language {
    font-size: 11px;
    max-width: 30px;
    max-height: 90px;
    margin-top: 5px;
}
hr{
  border: 1px solid #B0B0B0;
  padding-left: 100px;
}

.logout{
  padding-left: 20px;
  /* background-color: aqua; */
  font-size: 15px;
}

