<div class="container">
  <div>
    <span class="title blue-title">Filtrar</span>
    <span class="subtitle blue-title mt-1">Tempo de acesso</span>
  </div>

  <div class="my-1" >
    <input type="radio" class="mr-1 ">
    <label class="filter-label">Filtrar por periodo</label>
  </div>

  <div class="-input mt-2 row">
    <label >Periodo
      <input type="date">
    </label>
  </div>

  <div>
    <input type="radio">
    <label class="filter-label">Filtrar por recorrencia</label>
  </div>

  <label>Ultimos</label><br>
  <label>Quantidade</label>
  <input class="-inp-primary-txt"><br>

  <label>Medida</label>
  <input class="-inp-primary-txt">

  <span class="subtitle blue-title mt-2">Localização</span>

  <label>Pais</label><br>
  <select name="" id="">
    <option value=""> <input type="checkbox"> Global</option>
    <option value=""> <input type="checkbox"> Belgica</option>
    <option value=""> <input type="checkbox"> Brasil</option>
    <option value=""> <input type="checkbox"> Bulgaria</option>
  </select>

  <button class="-btn-primary">Utilizar filtros</button>

</div>

<div class="row">
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
           placeholder="Selecione a data inicial e a data final da análise"
           class="form-control"
           bsDaterangepicker>
  </div>
