<div class="container">
  <div class="row justify-content-center">

    <div class="col-11 col-sm-8 col-md-6 col-xl-4 mt-32 bgLogin bg-white">

      <div class="row justify-content-center logo">
        <img src="../assets/login/logo-login.png" class="w-52 mt-4">
      </div>

      <div class="pl-4">
        <label class="mb-1 font-semibold blue">
          Confirme sua identidade
        </label>

        <div class="row">
          <div class="col-11 my-2 text-sm">
            <span>
              Insira abaixo o código de 6 dígitos enviado ao e-mail frede***********@gmail.com
            </span>
          </div>
        </div>

        <div class="col-11">
          <label class="label-input">Código:</label>
          <input class="-inp-primary-txt" placeholder="Insira o código">
        </div>

        <div class="row justify-content-end">
          <div class="col-6">
            <a class="text-xs blue ml-4">
              Não recebi o código</a>
          </div>
        </div>

        <div class="row mt-5 mr-1">
          <button [routerLink]="['/dashboard']" class="-btn-primary py-2">Entrar</button>
        </div>

      </div>
    </div>
  </div>
</div>
