.snackbar{
  position: relative;
  display:flex;
  align-items:center;
  height: 40px;
  font: #4E5157;
  font-size: 12px;

  border-radius: 8px;
 border: 1px solid #8CB600;
 background: linear-gradient(0deg, #EDFFF1, #EDFFF1), #FFFFFF;
 font-family: 'Montserrat ';
}

span{
  line-height: 20px;
}
